@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body, select, option {
  font-family: Quicksand;
  color: var(--menu-text-color);
  font-family: Quicksand;
  font-weight: bold;
}

body.darkTheme {
  --background-gradient: linear-gradient(0deg, rgb(34, 34, 34) 0%, rgb(73, 0, 0) 100%);
  --menu-background-color: rgb(30, 30, 30);
  --menu-text-color: white;
  --menu-slider-color: lightgrey
}

body.manga.darkTheme {
  --background-gradient: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
}

body.lightTheme {
  --background-gradient: linear-gradient(0deg, rgb(197 197 197) 0%, rgb(255, 190, 190) 100%);
  --menu-background-color: rgb(220, 220, 220);
  --menu-text-color: black;
  --menu-slider-color: darkgrey
}

/* Improve reading of stories while landscape on Light theme */
@media screen and (orientation: landscape) {
  body.manga.lightTheme {
    --background-gradient: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  }
}

body {
  padding: 0;
  margin: 0;
  background: var(--background-gradient);
  background-size: cover;
}

@media screen and (max-width: 160vh) {#books, #volumes {--numberBook: 4;}}
@media screen and (max-width: 140vh) {#books, #volumes {--numberBook: 3;}}
@media screen and (max-width: 120vh) {#books, #volumes {--numberBook: 2;}}
@media screen and (max-width: 90vh)  {#books, #volumes {--numberBook: 1;}}
